* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    font-family: sans-serif;
}

.fancy {
    background-image: paint(headerHighlight);
}

h1 { --highColor: hsla(155 90% 60% / .7); }
h2 { --highColor: hsla(255 90% 60% / .5); }
h3 { --highColor: hsla(355 90% 60% / .3); }