* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    font-family: sans-serif;
}

li {
    background-image: paint(boxbg);
    --boxColor: hsla(55 90% 60% / 1);
}

li:nth-of-type(3n) {
    --boxColor: hsla(155 90% 60% / 1);
    --widthSubtractor: 20;
}

li:nth-of-type(3n + 1) {
    --boxColor: hsla(255 90% 60% / 1);
    --widthSubtractor: 40;
}