* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3 {
    font-family: sans-serif;
}

.header--fancy {
    background-image: paint(headerHighlight);
    font-size: 2rem;
}